body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: black;
}
.navbar {
    background-color: rgb(29, 25, 25);
    height: 3rem;
}
#row {
    margin-top: 30px;
}
.heading {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
h5 {
    font-weight: 800;
}
.box {
    width: 90%;
    margin-left: 15px;
    border-radius: 7px;
    border-color: black;
    border: solid 1px;
    text-align: left;
}
.box h5 {
    text-align: center;
    margin-top: 10px;
}
.box p {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 15px;
}
.box .button {
    margin-left: 100px;
    margin-bottom: 20px;
}
.foodie-button {
    margin-left: 10px;
    margin-bottom: 20px;
}
img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}